# Dependencies
node_modules/
jspm_packages/

# Build directories 
# dist/
build/
.cache/

# Logs
logs/
*.log
npm-debug.log*

# Environment files
.env
.env.*

# OS specific files
.DS_Store
Thumbs.db

# Editor directories
.idea/
.vscode/

# Other
*.tgz
.yarn-integrity